@using Scrabble.Web.Models;
@using Scrabble.Core.Types
@{
    PlayModel model = this.Model as PlayModel;
}

<div id="playingArea" class="container">
    @{ Html.RenderPartial("EmptyBoard"); }
    @if (model != null)
    {
        <div id="players">
            <h2>Players</h2>    
            @{ bool hasHuman = model.State.Players.OfType<HumanPlayer>().Any(); } 
            @foreach (Player p in model.State.Players)
            {
                <div class="player" id="player-@p.Id">
                    <h3>@p.Name, Score: <span class="playerScore">0</span></h3>
                    <div class="rack">
                        @if (p is HumanPlayer || !hasHuman)
                        { 
                                foreach(Tile t in p.Tiles)
                                {
                                    String cssClass = "tile";
                                    if (p is HumanPlayer) { cssClass += " movable"; }
                                    <div class="@cssClass" data-letter="@t.Letter">
                                        @t.Letter
                                        <span class="tileScore">@t.Score</span>
                                    </div>    
                                }
                        }
                    </div>
                </div>
            }
        </div>
        <div id="console">
            <h2>Messages</h2>
            <div class="inner">
                <div class="entry first">Game started.</div> 
            </div>
        </div>
        <div class="bottomRight" id="buttonArea">
            <button id="done">Done</button> <button id="pass">Pass</button> <button id="dumpLetters">Dump Letters</button> <button id="reset">Reset</button>
        </div>
    }
</div>
