<!DOCTYPE html>
<html>
<head>
    <title>SharpScrabble</title>
    <link href="@Url.Content("~/Content/Game.css")" rel="stylesheet" type="text/css" />
    <link href="@Html.Raw(Request.IsSecureConnection ? "https" : "http")://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/themes/blitzer/jquery-ui.css" rel="stylesheet" type="text/css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js" type="text/javascript"></script>
    <script src="@Url.Content("Content/Global.js")" type="text/javascript"></script>
    <script src="@Url.Content("Content/Setup.js")" type="text/javascript"></script>
</head>

<body id="body">
    <h1>SharpScrabble</h1>
    @RenderBody()
</body>
</html>
